html{
    height: 100%;
    width: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
    height: 90%;
    background:linear-gradient(#670404,#9a2915,#010101);
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content:center;
}

.timer-board{
    background-color: #ac9895;  
    width: 20vw;
    height: 5vw;
    margin: 2vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    font-weight: bold; 
    color:#0b0b0b;
    border: 4px solid #000000;
    border-radius: 7px;
}

.game-board{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #989898;
    border-radius: 10px;
    width: 30vw;
    height: 30vw; 
    gap:0;
} 

.game-row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0;
    row-gap: 0;
}

.game-cell{
    margin: 0;
    font-size: 34px;
    height: 2.8vw;
    width: 2.8vw;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin:-1px;
    border:3px double #989898;
}

.person{
    height: 2vw;
    width: 2vw;
    background-image:url('images/hero.png');
    background-repeat: no-repeat;
    background-size: contain;
   
}

.top-border{
    border-top-color: #000000;
}

.left-border{
    border-left-color: #000000;
}

.bottom-border{
    border-bottom-color: #000000;
}

.right-border{
    border-right-color: #000000;
}

.cached{
    display: none !important;
}

.board{
    background-color: #9d6060;  
    width: 40vw;
    height: 20vw;
    margin: 2vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-size: 50px;
    font-weight: bold; 
    color:#000000;
    border: 5px solid #000000;
    
}

input[type="submit"],input[type="button"],button{
    opacity:1;
    background-color:#c09494;
    border:4px solid #000000;
    border-radius: 6px;
    padding:10px;
    width:200px;
    color:#000000;
    font-size:24px;
    font-weight: bold;
    text-decoration:none;
    color:rgb(56, 56, 56);
    margin: 10px;
}

image{
    height: 16px;
    width: 16px;
    
}

.trap{
    height: 2vw;
    width: 2vw;
}

.result-details{
    font-size: 20px;
}

.button-containers{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.game-button{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    width: 1.5vw;
    margin:0.5vw;
    height: 1.5vw;
    cursor: pointer;
}